*{
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: chartreuse;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
header h1{
    color: white;
}
header ul{
    display: flex;
    gap: 60px;
}
header a{
    text-decoration: none;
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    max-width: 100%;
}
.grid .card{
    width: 300px;
    background-color: red;
}
.hero{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero h2{
    margin-top: 20px;
}
.hero img{
    width: 900px;
}

@media (max-width: 768px){
    header{
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
    .hero img{
        max-width: 100%;
        width: 700px;
    }
    .grid{
        max-width: 80%;
        gap: 20px;
    }
}

@media (max-width: 425px){
    .hero img{
        max-width: 100%;
    }
    .grid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .grid .card{
        height: 50px;
        max-width: 100%;
    }
}